@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Spectral:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: spectral, sans-serif;
    font-weight: 300;
    color: #333;
}

h1,
h2 {
    font-family: karla, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
    font-weight: bold;
}

#logo {
    float: left;
    font-size: 190%;
}

#nav-background {
    background-color: blanchedalmond;
}

#menu {
    font-size: 130%;
    letter-spacing: 3px;
}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: firebrick;
}

#menu,
#logo {
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 2px solid grey;
}

.active {
    border-bottom: 2px solid grey;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/hero.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: rgb(252, 251, 250);
    font-weight: bolder;
}

#cover-text {
    font-size: 110%;
    font-family: spectral, sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;

    width: 300px;
    height: 150px;

    padding-top: 30px;
    padding-right: 15px;

    background-color: rgba(47, 133, 214, 0.7);

    bottom: 30px;
    left: 140px;

    position: absolute;
}


#rich-photo {
    background-image: url(../images/ich.jpeg);
    background-size: cover;
    width: 33.3%;
    overflow: hidden;
    background-position: center;
}



#luke-photo {
    background-image: url(../images/luke.jpeg);
    background-size: cover;
    width: 33.3%;
    overflow: hidden;
    background-position: center;
}

#robin-photo {
    background-image: url(../images/robin.jpeg);
    background-size: cover;
    width: 33.3%;
    overflow: hidden;
    background-position: center;
}

#people div {
    color: rgb(255, 253, 253);
    height: 200px;
    width: 33.3%;
    float: left;
    padding: 10px 0 0 10px;
    text-align: center;
    border: 5px solid white;
    box-sizing: border-box;
    font-family: spectral, sans-serif;
    font-weight: 300;
    
}

#people h2 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 150%;
}

footer {height: 130px;}

.social-networks {text-align: center;}

.social-networks > li {display:inline; }

.social-networks i {
    font-size: 110%;
    margin :2%;
    padding: 4%;
    color: #333;
}